*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: beige;
    font-size: large;
    justify-content: center;
    align-items: center;
    margin-top: 10svh;
    border-radius: 10px;
    padding: 5svh;
}
